DATA_FILE_PATH_TMP="/tmp/dashuki_data.txt.tmp"
DATA_FILE_PATH="/tmp/dashuki_data.txt"
SETTINGS_FILE_PATH_TMP="/tmp/dashuki_settings.txt.tmp"
SETTINGS_FILE_PATH="/tmp/dashuki_settings.txt"
BUILDROOT_HOST="/path/to/buildroot/output/host"
